<h3>Create Admission</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form [formGroup]="creatAdmissionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                id="name"
                name="name" 
                formControlName="name" 
                class="form-control" 
                [ngClass]="{ 'is-invalid': f.name.errors }" 
                [(ngModel)]="admission.name">
            <span *ngIf="f.name.errors" class="warn">Name is required</span>
        </div>
        <div class="form-group">
            <label for="birthdate">Birth Date</label>
            <input type="date"
                id="birthdate"
                name="birthdate"
                formControlName="birthdate"
                class="form-control" 
                [ngClass]="{ 'is-invalid': f.birthdate.errors }"
                [(ngModel)]="admission.birthDate">
            <span *ngIf="f.birthdate.errors && !f.birthdate.errors.isFuture" class="warn">Birth date is required</span>
            <span *ngIf="f.birthdate.errors && f.birthdate.errors.isFuture" class="warn">Birth date cannot be the future</span>
        </div>
        <div class="form-group">
            <label for="sex-radio">Sex</label>
            <div class="form-control" name="sex-radio" [ngClass]="{ 'is-invalid': f.sex.errors }">
                <span *ngFor="let esex of sexes">
                    <input type="radio"
                        id="sex-{{esex | lowercase}}"
                        name="sex"
                        formControlName="sex"
                        class="form-control-radio"
                        [(ngModel)]="admission.sex"
                        value="{{esex}}">
                    <label for="sex-{{esex | lowercase}}" class="form-control-radio">{{esex | titlecase}}</label>
                </span>
                <span *ngIf="f.sex.errors" class="warn">Please specify sex</span>
            </div>
        </div>
        <div class="form-group">
            <label for="select-category">Category</label>
            <select  
                id="category" 
                name="category"
                formControlName="category"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.category.errors }"
                [(ngModel)]="admission.category">
                <option *ngFor="let ecat of categories" value="{{ecat}}">{{ecat | titlecase}}</option>
            </select>
            <span *ngIf="f.category.errors" class="warn">Please select admission category</span>
        </div>
        <div>
            <button class="btn btn-primary" routerLink="/admissions">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!creatAdmissionForm.valid">Create</button>
        </div>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-primary" routerLink="/admissions">Return to Admissions</button>
</div>