<h3>Update Admission</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form [formGroup]="editAdmissionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="admissiondate">Admission Date</label>
            <span class="form-control">{{admission.dateOfAdmission | date: 'dd-MM-yyyy HH:mm'}}</span>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                id="name"
                name="name"
                formControlName="name"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }"
                [(ngModel)]="admission.name">
            <span *ngIf="f.name.errors" class="warn">Name is required</span>
        </div>
        <div class="form-group">
            <label for="birthdate">Birth Date</label>
            <input type="date" 
                id="birthdate"
                name="birthdate"
                formControlName="birthdate"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.birthdate.touched && f.birthdate.errors }"
                [(ngModel)]="admission.birthDate" >
            <span *ngIf="f.birthdate.errors && !f.birthdate.errors.isFuture" class="warn">Birth date is required</span>
            <span *ngIf="f.birthdate.errors && f.birthdate.errors.isFuture" class="warn">Birth date cannot be the future</span>
        </div>
        <div class="form-group">
            <label for="sex-radio">Sex</label>
            <div class="form-control" name="sex-radio" [ngClass]="{ 'is-invalid': f.sex.touched && f.sex.errors }">
                <span *ngFor="let esex of sexes">
                    <input type="radio"
                        id="sex-{{esex | lowercase}}"
                        name="sex"
                        formControlName="sex"
                        class="form-control-radio"
                        [(ngModel)]="admission.sex"
                        value="{{esex}}">
                    <label for="sex-{{esex | lowercase}}" class="form-control-radio">{{esex | titlecase}}</label>
                </span>
            </div>
        </div>
        <div *ngIf="admission.source == 'Admissions Application'; else externalAdmission" class="form-group">
            <label for="select-category">Category</label>
            <select  
                id="category" 
                name="category"
                formControlName="category"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.category.touched && f.category.errors }"
                [(ngModel)]="admission.category">
                <option *ngFor="let ecat of categories" value="{{ecat}}">{{ecat | titlecase}}</option>
            </select>
        </div>
        <ng-template #externalAdmission>
            <div>
                <label for="show-category">Category</label>
                <span id="show-category" class="form-control">{{admission.category | titlecase}}</span>
            </div>
            <div>
                <label for="show-source">Source</label>
                <span id="show-source" class="form-control">{{admission.source | titlecase}}</span>
            </div>
        </ng-template>
        <div>
            <button class="btn btn-primary" routerLink="/admissions">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!editAdmissionForm.valid">Update</button>
        </div>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-primary" routerLink="/admissions">Return to Admissions</button>
</div>