<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Admissions</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date of Admission</th>
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Sex</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admission of admissions | async">
                    <td>{{admission.dateOfAdmission | date: 'dd-MM-yyyy HH:mm'}}</td>
                    <td>{{admission.name}}</td>
                    <td>{{admission.birthDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{admission.sex}}</td>
                    <td>{{admission.category}}</td>
                    <td>
                        <div class="action-btns">
                        <button class="btn btn-primary" routerLink="/admissions/update/{{admission.id}}">Edit</button>
                        <button class="btn btn-danger" (click)="deleteAdmission(admission.id, admission)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" routerLink="/admissions/add">Create Admission</button>
</div>